# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DEV\sms_sender_am\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
